:root {
    --hue: 30;
    --bg-color-a: hsl(var(--hue) 40% 50%);
    --bg-color-b: hsl(var(--hue) 50% 63%);
    --bg-color-c: hsl(var(--hue) 59% 73%);
    --radius: 20px;
    --border-thick: 8px;
    --border-opacity: 70%;
}

body {
    display: flex;
    flex-direction: row;
}
body * {
    width: 400px;
    height: 400px;
}

#example-a {
    background-color: var(--bg-color-a);
    border-radius: var(--radius);
}

#example-b {
    background-color: var(--bg-color-b);
    border-radius: var(--radius);
}

#example-c {
    background-color: var(--bg-color-c);
    border-radius: var(--radius);
}

h1 {
    border:  var(--border-thick) solid hsl(18 8% 50% / var(--border-opacity)) ;
    padding: 10px 100px;
    border-radius: var(--radius);
}