* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #dbe3ff;
    height: 200vh;
    font-family: "Myriad Pro";
}

#clipped {
    width: 100vw;
    height: 80vh;
    background: linear-gradient(lightpink, #120263);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    position: relative;

}

img {
    mix-blend-mode: screen;
    position: absolute;
    opacity: 0.4;
    object-fit: cover;
    width: 100%
}

nav {
    text-align: center;
    width: 100%;
    background-color: #ffffff00;
    position: fixed;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    padding: 7px 80px;
    color: #2e000d;
}

#main-headline {
    padding: 150px 300px;
    isolation: isolate;
}

#main-headline p {
    font-size: 2.4rem;
    color: white;
    font-weight: bold;
    padding: 200px 0;
    max-width: 800px;
}

h1 {
    font-size: 8rem;
    color: #a12e08;
}

#content {
    position: relative;
    width: 100vw;
}
#sticker {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: white;
    padding: 35px;
    position: absolute;
    right: 200px;
    top: -260px;
}

#sticker p {
    text-align: center;
    font-size: 1.3rem;
    color: #000a28;
}

h2 {
    padding: 140px 300px;
    color: #000a28;
    font-size: 4rem;
    opacity: 0;
}